.header{
  height: 60px;
  width: 1200px;
  background-color:#ff8c00;
  color: #ffffff;
}
  
.header-logo {
  float: left;
  font-size: 30px;
  padding: 10px 20px;
}
  
.header-list li {
  list-style: none;
  float: left;
  padding: 15px 20px;
}

.main{
  height:1530px;
  width:1200px;
  background-color: #ffffff;
}

img{
  width: 460px;
  height: 300px;
}

.copy-container h1{
  border-bottom:2px solid #000000;
  color:#228b22;
}

span{
  border: 3px solid #00008b;
  font-size:24px;
  color:#ff0000;
}

.footer{
  height:80px;
  width:1200px;
  background-color: #00008b;
  color: #ffffff;
}

.footer-logo {
  float:left;
  font-size: 25px;
  padding: 10px 20px;
}
  
.footer-list li {
  list-style: none;
  float: right;
  padding: 15px 20px;
}

.contact-form h3{
  border-top:2px solid #000000;
}
